<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/JAVAVIDEOS/src/onlineproducts/MOBILE.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="onlineproducts.MOBILE"/>
    <stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="JAVAVIDEOS"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="JAVAVIDEOS"/>
</launchConfiguration>
